.bio {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 80vh;
    color: black;
    font-family: 'Nunito';
    gap: 48px;            
    padding: 16px 0;
    margin-top: 60px;
}

.image-content {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;      
}

.img {
   max-width: 420px;  
    min-width: 180px;
    width: 100%;
    height:auto;
    border-radius: 20px;
    object-fit: cover;
}

.bio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-start;    
    width: auto;
    height: 100%;
 
}
.bio-content h1{
    font-size: 40px;
}
.bio-content p{
    max-width: 500px;
    margin-top: 30px;
    color:black
}
.core-list{
    display: flex;
    flex-wrap:nowrap ;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-between;
    width: 50%;
    margin-left:0px;
    gap: 22px;
    font-family:'Nunito';
}
.coress{
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
}
.coress span{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.coress p{
    font-size: 14px;
    margin: 0;
    color: black;
    min-width: 100%;
}
.btn-contains{
    margin-top: 20px;
}
.but{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14 165 233);
    padding: 0.8rem 1.0rem 0.8rem 1.0rem;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}
