.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14 165 233);
    padding: 1.0rem 2rem 1.0rem 2rem;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}
.button p{
font-size: 17px;
}
@media(max-width:480px){
  .button{
    padding: 1.1em;
  
    font-size: 13px;
  }
  .button p{
    font-size: 15px !important;
    font-weight: 400;
  }
}