.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14 165 233);
    padding: 1.0rem 2rem 1.0rem 2rem;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}
.button p{
font-size: 17px;
}
