.footer{
   display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito';
    border-top: 1px solid gray;
    min-height: 10vh;
    padding: 10px 10rem 0 10rem;
}
.footer p{
    font-weight:700;
}
@media(max-width:576px){
    .footer{
        flex-direction: column;
        justify-content: center;
        padding: 10px 2rem 0 2rem;
        gap:15px;
    }
    .footer p{
        font-size: 13.5px;
    }
    .footer-content p{
        font-size: 15px;
        text-align:center;
    }
}